*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: sans-serif;
    margin: 0px;
}
header{
    display: flex;
    min-height: 100px;
    background-color:orange;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    display: flex;
    height: 100px;
    background-color: orange;
    margin-right: 25px;
}
div img{
    border-radius: 8px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 30px #343759;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(150px, 1fr);
    gap: 32px;
    justify-content: space-around;
}
main p{
    margin: auto;
    padding: 20px;
    display: flscr="1.png"ex;
    color: orange;
}
.contenedor{
    width: 90%;
    max-width: 900px;
    margin: auto;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabla{
    width: 33%;
    height: 550px;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #343759;
    text-align: center;
    flex-grow: 1;
    color: rgb(32, 156, 73);
}
.tabla > h2{
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
}
.tabla img{
    font-size: 30px;
    margin-bottom: 5px;
}
.tabla > h3{
    font-size: 18px;
}
.tabla:hover{
    background-color: #343759;
    color: #f1f1f2;
    transition: 0.2 all;
    transform: scale(1.1);
    cursor: pointer;
}

nav ul li{
    justify-content: space-between;
    align-items: center;
}
nav a{
    font-weight: 600;
    padding-right: 20px;
}
nav a:hover{
    color: white;
}

@media screen (min-width: 320px) and (min-width: 1400px){
    
}
